<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css">     
        <meta charset="UTF-8">
    </head>
    
    <body>
        <header>
            <p class="texte-centre"><img src="./img/universite.jpg" alt="Université" /></p>
            <p class="texte-centre">
                <a href="#">Mon lien 1</a>
                <a href="#">Mon lien 2</a>
                <a href="#">Mon lien 3</a>
            </p>
        </header>
        <section>
            <h1><%= titreCours %></h1>
            <p><%= descriptifCours %></p>
        </section>
        <section>

        </section>
    </body>
</html>